/* 
This CSS styles the About Us page with a centered container, white background, and subtle shadow. 
It arranges developer profiles in a flexible layout with circular images and centered text.
*/

.aboutUsContainer {
    max-width: 1200px;
    margin: 100px auto 20px; /* Adjusted margin to account for the fixed navbar */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.developers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

    .developer img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .developer h3 {
        margin: 10px 0 5px 0;
    }

    .developer p {
        text-align: center;
        color: #555;
    }