@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  Updated - August 5, 2024
*/

:root { /* color-scheme - you can reference these colors just by typing the name */
  --sage-green-color: #8BC34A;
  --terracotta-color: #E07A5F;
  --beige-color: #F4E3C2;
  --background-color: #FBF7ED;
  --dark-olive-green: #426B1F;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.logoutButton {
  padding: 10px 40px;
  border: none;
  background-color: var(--terracotta-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: var(--beige-color);
}

.editButton {
  padding: 5px 20px;
  border: none;
  background-color: var(--sage-green-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.editButton:hover {
  background-color: var(--dark-olive-green);
}

.deleteButton {
  padding: 5px 20px;
  border: none;
  background-color: var(--terracotta-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: var(--beige-color);
}