@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  Updated - August 5, 2024
*/

:root { /* color-scheme - you can reference these colors just by typing the name */
  --sage-green-color: #8BC34A;
  --terracotta-color: #E07A5F;
  --beige-color: #F4E3C2;
  --background-color: #FBF7ED;
  --dark-olive-green: #426B1F;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);