@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  Updated - August 5, 2024
*/

:root { /* color-scheme - you can reference these colors just by typing the name */
  --sage-green-color: #8BC34A;
  --terracotta-color: #E07A5F;
  --beige-color: #F4E3C2;
  --background-color: #FBF7ED;
  --dark-olive-green: #426B1F;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  padding: 10px 40px;
  border: none;
  background-color: var(--sage-green-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--dark-olive-green);
}


.logoutButton {
  padding: 10px 40px;
  border: none;
  background-color: var(--terracotta-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: var(--beige-color);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
